<footer id="footer" class="bg-dark text-light py-1" style="padding: 0 0 0 0 !important">
    <div class="container py-1" style="padding: 0 0 0 0 !important">
        <div class="row" style="padding: 0 0 0 0 !important">
            <div class="col-lg-3">
                <a style="color:teal" href="mailto:stocktonmermaids@gmail.com">stocktonmermaids@gmail.com</a><br/>
                Text: (707) 972-1041
            </div>
            <div class="col-lg-6 text-center" style="padding: 0 0 0 0 !important">
                <img src="http://stocktonmermaids.com/media/images/MermaidHeader.png" style="height: 75px; padding:0 0 0 0;" />
            </div>
            <div class="col-lg-3 text-right">
                <ul class="nav float-right">
                    <li><a class="text-white mr-2" rel="nofollow" href="https://www.facebook.com/stocktonmermaids" title="Follow on Facebook"><i class="h1 fa fa-fw fa-facebook fa-2x ion-logo-facebook"></i></a></li>
                    <li><a class="text-white mr-2" rel="nofollow" href="https://www.instagram.com/stockton_mermaids_softball" title="Follow on Instagram"><i class="h1 fa fa-fw fa-instagram fa-2x ion-logo-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
